//Copyright (C)2014-2026 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12.02_SP1 (64-bit))
//Part Number: GW1NSR-LV4CQN48GC6/I5
//Device: GW1NSR-4C
//Created Time: Sun 07 05 11:54:22 2026

IO_LOC "fsclk2" 44;
IO_PORT "fsclk2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "bclk2" 43;
IO_PORT "bclk2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spdif_do" 19;
IO_PORT "spdif_do" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "do1" 23;
IO_PORT "do1" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "fsclk1" 22;
IO_PORT "fsclk1" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "bclk1" 21;
IO_PORT "bclk1" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mclk1" 20;
IO_PORT "mclk1" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "do0" 41;
IO_PORT "do0" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fsclk0" 40;
IO_PORT "fsclk0" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "bclk0" 42;
IO_PORT "bclk0" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "di2" 47;
IO_PORT "di2" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "dev_cs_bin_3863[1]" 45;
IO_PORT "dev_cs_bin_3863[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "dev_cs_bin_3863[0]" 46;
IO_PORT "dev_cs_bin_3863[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sample_sel" 48;
IO_PORT "sample_sel" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk_22_5792" 35;
IO_PORT "clk_22_5792" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk_24_576" 32;
IO_PORT "clk_24_576" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
